/home/vagrant/Documents/bigdata/bigdata_project/trafico/logs
/home/vagrant/Documents/bigdata/bigdata_project/meteo/logs
trafico/logs/trafic_test_log.log
trafico/logs/trafic_log.log
trafico/logs/trafic_log_test.log
meteo/logs/meteo_logs.log